.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e293b;
  background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
  background-repeat: repeat;
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

ul,
ol{
  list-style-type: none;
}
